{% extends "hospital_app/base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
        </div>
    {% else %}
        <div class="text-center">
            <h1 class="mb-5">Welcome to Clinic Hospital</h1>
            <h3 class="mb-3">Do you need an appointment?</h3>
            <a class="btn btn-info" style="color: white;" href="{% url 'login' %}">Make appointment</a>
        </div>
    {% endif %}
{% endblock content %}